#new_post,
.edit_post
  width: 80%
  margin: 2em auto

  label
    font-family: "PT Serif","Georgia","Helvetica Neue",Arial,sans-serif
    font-size: 1.2em


  input[type='text'],
  textarea
    width: 90%

  input[type='submit']
    width: 92%
