- if notice
  %p#notice= notice

%ul.other-params
  %li= link_to 'Редактировать основные мета теги', default_meta_tags_path, class: "btn btn-primary"
  %li= link_to 'Редактировать страницу \'Оплата и Доставка\'', edit_delivery_details_url(find_page('info')), class: "btn btn-primary"
