<div id="footer">  
  <div id="footer_content">
    Оригинальная продукция из Канады
    |  <%= mail_to 'originalpeptides@gmail.com' %>
    <br/>
    <br/>
    | website made by <%= mail_to "denys.ivanchuk@gmail.com", "Teckden" %> |
    <br/>
  </div><!--close footer_content-->
</div><!--close footer-->