<div id="footer">  
  <div id="footer_content">
    Оригинальная продукция из Канады
    |  <%= mail_to 'originalpeptides@gmail.com' %>
    <br/>
  </div><!--close footer_content-->
</div><!--close footer-->